.contact {
    padding: 2em;
    background: #F9F9F9;
    text-align: center;
}

.contact p {
    font-size: 1.5rem;
    max-width: 400px;
    margin: 0 auto;
}

.contact li {
    margin: 1em;
}

.contact a {
    color: #36383B;
}