.mobile-footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.mobile-footer a {
    color: #faebd7;
    font-size: .8rem;
}

.footer-nav {
    display: none;
}

@media (min-width: 768px) {
    .mobile-footer {
        display: none;
    }
    .footer-nav {
        display: block;
    }
    .footer-nav a {
        color: #faebd7;
    }
}