body,
html {
    font-size: 16px;
    background: #444141;
    color: #888888;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p,
a {
    font-size: 20px;
    line-height: 1.75;
    font-family: 'Bellefair', serif;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 2em 0;
    text-transform: uppercase;
}

.wrapper {
    border: 1px solid #4e4e4e;
}