.header {
    padding: 2em ;
    background: #F9F9F9;
}

.hero-header {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    justify-content: center;11
}

.header-image {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 2em 0;
}
.header-image img {
    max-width: 100%;
}

@media (min-width: 768px) {
    .header-about {
        width: 70%;
        padding-right: 2em;
    }
    .header-image {
      margin: 0;
    }

    .hero-header {
        flex-direction: row;
        justify-content: space-between;
    }
}