#logo,
#logo-footer {
    font-size: 1.15em;
    border: none;
    animation: none;
}

.nav {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.nav li {
    padding: 2em 10px;
}

.nav a:hover {
    animation: hoverIn .1s forwards;
}

.nav a {
    color: #36383B;
    font-size: 1em;
    text-transform: uppercase;
    animation: hoverOut .1s ease-in-out;
}

@keyframes hoverIn {
    0% {
        border-bottom: 0 solid #444141;
    }
    100% {
        border-bottom: 4px solid #444141;
    }
}

@keyframes hoverOut {
    0% {
        border-bottom: 4px solid #444141;
    }
    100% {
        border-bottom: 0 solid #444141;
    }
}


/* Media Query */

@media (min-width: 768px) {
    #logo,
    #logo-footer {
        margin-right: auto;
    }
    .nav {
        flex-direction: row;
        justify-content: flex-end;
    }
    .nav li {
        margin: 10px 0;
        align-self: center;
    }
    .nav ul {
        flex-direction: row;
    }
}