#logo,
#logo-footer {
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: bold;
}

.nav {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.nav li {
    padding: 2em 10px;
    position: relative;
}

.nav a:hover {
    color: #E94A61;
}

.nav a {
    color: #36383B;
    font-size: 1em;
    text-transform: uppercase;
}


/* Media Query */

@media (min-width: 768px) {
    #logo,
    #logo-footer {
        margin-right: auto;
    }
    .nav {
        flex-direction: row;
        justify-content: flex-end;
    }
    .nav li {
        align-self: center;
    }
    .nav ul {
        flex-direction: row;
    }
    .brackets a:before,
    .brackets a:after {
        position: absolute;
        opacity: 0;
        top: 30px;
        transition: all 0.3s;
    }
    .brackets a:before {
        content: '(';
        left: 0px;
        transform: translateX(10px);
    }
    .brackets a:after {
        content: ')';
        right: 0px;
        transform: translateX(-10px);
    }
    .brackets a:hover:before,
    .brackets a:hover:after {
        opacity: 1;
        transform: translateX(0px);
    }
}
