#logo,
#logo-footer {
    font-size: 1.15em;
}

.nav {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.nav li {
    padding: 20px 10px;
}

.nav a {
    color: #36383B;
    font-size: 1em;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    #logo,
    #logo-footer {
        margin-right: auto;
    }
    .nav {
        flex-direction: row;
        justify-content: flex-end;
    }
    .nav li {
        margin: 10px 0;
        align-self: center;
    }
    .nav ul {
        flex-direction: row;
    }
}